//## Variables

//** Colors
$default: #fff;
$primary: #ffc200;
$primary-light: #ffd54e;
$black: #000;
$gray: #888;

//** Typography
$font-base: "Lato", sans-serif;
$font-header: "PT Sans Narrow", sans-serif;
$font-size-header: 26px;
$font-size-title: 16px;
$font-size-base: 14px;

//** Layout
$grid-offset: 15px;

//** Custom spacing
$spacing: 30px;
$spacing-m: 15px;
