//## Grid
@import "../_variables";
@import "../_mixins";

.content-section {
  margin: ($spacing * 2) 0 ($spacing * 2);
  height: auto;

  .films {
    @include flexbox;
    @include flex-wrap(wrap);

    &__film {
      margin-bottom: $spacing;
      transition: all 0.15s ease-in-out;
      @include flexbox;
      @include flex-direction(column);

      &__poster {
        padding: 0 1px;

        @include breakpoint(sm) {
          min-width: 160px;
        }
      }

      div {
        position: relative;

        .watch-checkbox {
          position: absolute;
          bottom: 5px;
          right: 1px;
          height: 32px;
          width: 32px;
          background-color: #cccccc;
          z-index: 10;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          @include flexbox;
          @include align-items(center);
          @include justify-content(center);

          &__add {
            height: 14px;
          }

          &__add.hide {
            display: none;
          }

          &__checked {
            height: 18px;
            display: none;
          }

          &__checked.show {
            display: block;
          }
        }

        .watch-checkbox.watched {
          background-color: $primary;
        }
      }

      &__title {
        margin-top: $spacing-m;
        text-align: center;
        font-size: ($font-size-base + 2);
        font-weight: 700;

        .span-italic {
          font-weight: 400;
          color: $gray;
        }
      }

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  @include breakpoint(sm) {
    margin: $spacing-m;
  }
}
