//## Grid
@import "../_variables";
@import "../_mixins";

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 0 $spacing;

  @include breakpoint(sm) {
    padding: 0 $spacing-m;
  }
}

.row {
  margin-left: -($grid-offset / 2);
  margin-right: -($grid-offset / 2);
  clear: both;

  @include breakpoint(sm) {
    margin-left: -$grid-offset;
    margin-right: -$grid-offset;
  }
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row-sm-reverse {
  @include breakpoint(sm) {
    @include flexbox;
    @include flex-direction(column-reverse);
  }
}

[class*="col-"] {
  float: left;
  padding-left: $grid-offset;
  padding-right: $grid-offset;
  width: 100%;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.333%;
}

.col-2-3 {
  width: 66.666%;
}

.col-1-6 {
  width: 16.667%;
}

@include breakpoint(sm) {
  .col-1-1,
  .col-1-3,
  .col-2-3 {
    width: 100%;
  }
}

@include breakpoint(xs) {
  .col-1-6 {
    width: 50%;
  }
}
