//## Grid
@import "../_variables";
@import "../_mixins";

.top-section {
  margin-top: $spacing;

  .sort-container {
    &--shadow {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    }
    .sort {
      height: 50px;
      position: relative;

      &__title {
        @include flexbox;
        @include align-items(center);

        &__arrow {
          transition: all 0.3s ease-in-out;
        }

        &__arrow.rotate {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }

      &__dropdown {
        position: absolute;
        bottom: -109px;
        left: -1px;
        right: -1px;
        padding: $spacing-m 0;
        background: #fff;
        border: 1px solid #e8e8e8;
        border-top: none;
        z-index: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.2s;
        transform: translateY(-2em);

        &--active {
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
          z-index: 10;
          visibility: visible;
          opacity: 1;
          transform: translateY(0%);
          transition-delay: 0s, 0s, 0.2s;
        }

        p {
          margin-bottom: 10px;
          display: inline-block;

          &:last-of-type {
            margin-bottom: 0;
          }
        }

        p.sort-type {
          cursor: pointer;

          &:hover {
            font-weight: 700;
          }
        }

        p.text-italic {
          padding-left: 3px;
        }
      }

      @include breakpoint(sm) {
        margin-bottom: 20px;
      }
    }
  }

  .search-container {
    position: relative;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: $spacing-m;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  @include breakpoint(sm) {
    margin-top: $spacing-m;
    height: auto;
  }
}
