input[type="text"],
input[type="search"],
.sort {
  width: 100%;
  height: 50px;
  border: 1px solid #e8e8e8;
  padding: 0 $spacing-m;
  font-size: $font-size-base;
  z-index: 1;
  cursor: pointer;
  @include flexbox;
  @include align-items(center);

  img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $spacing-m;
    margin-top: auto;
    margin-bottom: auto;
  }
}

//Placeholder

input::-webkit-input-placeholder {
  font-size: $font-size-base;
  transition: color 0.25s ease;
}

input:-moz-placeholder {
  font-size: $font-size-base;
}

input::-moz-placeholder {
  font-size: $font-size-base;
}

input:-ms-input-placeholder {
  font-size: $font-size-base;
}

//Focused

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.input-line {
  display: block;
  width: 0;
  height: 2px;
  background-color: $primary;
  z-index: 10;
  margin-top: -2px;
  transition: width 0.3s ease;

  @include breakpoint(sm) {
    margin-bottom: 20px;
  }
}

input:focus + .input-line {
  width: 100%;
}
